.fc-button-group {
  font-size: 16px;
  margin: 10px;
}

.fc-toolbar.fc-header-toolbar {
  margin: 24px;
}

.fc-toolbar-title {
  margin-top: 10px;
}

.fc-event-title {
  margin: .1em;
  font-size: var(--fc-small-font-size);
}



